

    /* form */
    @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#navbar{
    height: 10vh;
    
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-bottom: 10px;
   
}
#navbar .logo
{
    display: flex;
    align-items: center;
    width: 45%;
}

#navbar .logo img{
    height: 100%;
    padding: 0 15px;
}

#navbar .logo h2{
    font-family: 'Merriweather', serif;
    color: orange;


}

#navbar .logo span{
    color: green;
}


#navbar .links{
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
}

#navbar .links ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

#navbar .links ul li{
    padding: 0 25px;
}

#navbar .links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    
}



#location{
    
    padding:150px 50px ;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin:  40px 80px;
    border-radius: 12px;
    box-shadow:20px 20px 34px rgb(0,0,0.2,0.33) ;
    flex-wrap: wrap;
   
   
}
#location .info img{
    height: 25px;
    padding-right: 30px;    
}


    #location .info ul li{
        display: flex;
        align-items: center;
        padding-bottom: 22px;

    }
    #location .info span{
        font-size: 19px;
        
    }

    #location .info h2{
        padding-top: 40px;
        font-size: 20pxpx;
    }
    #location .info h3{
        padding: 20px 0;
        font-size: 18px;
        font-weight: 400;
    
    }

    #location .info ul{
        padding-top: 40px;
    }

    #location .info ul li p{
        font-size: 15px;
    }


    #heading{
        padding: 40px 0;
    }
    #heading h2{
        text-align: center;
        font-size: 35px;
        font-family: 'Merriweather', serif;
        padding-bottom: 15px;


    }

    #heading h4
    {
        text-align: center;
        font-size: 20px;
        color: grey;


    }




    #form-details{
        display: flex;
        justify-content: space-between;
        margin:30px;
        padding: 80px;
        border: 1px solid black;
        flex-wrap: wrap;
        height: 100%;
        width: 96%;


    }
    
    #form-details form{
    
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    
    }

    #form-details span{
        font-size: 28px;
       
    }

    #form-details h2{
        padding-top: 10px;
        font-size: 50px;
        padding-bottom: 40px;
        
    }

    #form-details input,
    #form-details textarea {
        width: 100%;
        padding:18px 20px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
        font-size: 18px;
    }
    
    #form-details button{
        background-color: #088178;
        padding: 16px 25px;
        color:white ;
        font-size: 22px;
        font-weight: 600;
    }
    
    #form-details  .people div{
        padding-bottom: 25px;
        display: flex;
        align-items: flex-start;

    }

    #form-details  .people div img{
        width:65px;
        height: 65px;
        object-fit: cover;
        margin-right: 15px;
    }

    #form-details  .people div p{
        margin: 0;
        font-size: 15px;
        line-height: 25px;
    }

    #form-details  .people div span{
        display: block;
        font-size:19px;
        font-weight: 600;
        color: black;
    }


    footer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        padding: 30px 80px;
        background-color:#B2BEB5;
    }
    
    footer .col{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
        width: 25%;
        flex-wrap: wrap;
    }
    
    footer .logo{
        margin-bottom: 30px;
        height: 80px;
    }
    
    footer h4{
        font-size: 24px;
        padding-bottom: 20px;
    }
    
    footer p{
        font-size: 18px;
        margin:0 0 8px 0;
    }
    
    footer a{
        font-size: 18px;
        text-decoration: none;
        color: #222;
        margin-bottom:10px;
    }
    
    footer .follow{
        margin-top: 20px;
    }
    
    footer  .follow i{
        color:#465b52;
        padding-right: 4px;
        cursor: pointer;
    }
    
    footer .row img{
        border:1px solid #088178;
        border-radius: 6px;
    
    }
    
    footer .install img{
        margin: 10px 0 15px 0;
    }
    
    footer .copyright{
        
        
        text-align: center;
        width: 100%;
    }






   


    .map{
        width:45%
    }
    #location .map iframe{
        
        width:100%;
        height: 100%;
    }
