@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}


body{
     width: 100%;
}


#logo{
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    /* background-color: #E5FFF7; */
    color:green;
}

#logo img{
    height:120px ;
    padding-right: 30px;
}

#logo span{
   color: orange;
}

#logo h3{
    font-size: 40px;
}



#navbar{
    height: 10vh;
    /* background-color: #28FF85; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#navbar ul {
    list-style: none;
    display: flex;


}

#navbar ul li{
    padding: 0 15px;
}
#navbar ul li a{
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    color: #101820FF;
}

#hero{

            width:100%;
            height:80vh;
            display: grid;
            place-items: center;
}


#hero .slider{
    width:100%;
    height:100%;
    background-image: url("/imgs/slider/i1.jpg");
    background-size: 100% 100%;
    animation: changeImage 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

} 

.slider h2{
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-top: 26%;
}

.slider h4{
    font-size: 40px;
    color:white;
}

@keyframes changeImage{
    0%{
        background-image: url("imgs/slider/paolo-nicolello-2gOxKj594nM-unsplash.jpg");
    }
    25%{
        background-image: url("imgs/slider/fernando-alvarez-rodriguez-M7GddPqJowg-unsplash.jpg");
    }
    50%{
        background-image: url("imgs/slider/saad-khan-I5c9i-hooag-unsplash.jpg");
    }
    75%{
        background-image: url("imgs/slider/valeriia-bugaiova-_pPHgeHz1uk-unsplash.jpg");
    }
}


#intro{
   
    margin-top: 72px;
    box-shadow:20px 20px 34px rgb(0,0,0,0.33);
    display: flex;
    height: 90vh;
    align-items: center;
    background-color: #f5fcf7;
    border-radius: 24px;
    padding: 0 60px;
    margin: 0 80px;
    margin-bottom: 42px;
    justify-content: space-between;
    flex-wrap: wrap;

}

#intro .section1{
    max-width: 40%;
    padding-right: 40px;
    
}

    

#intro .section1 h2{
    font-size: 50px;
    font-weight: 700;
    padding-bottom: 10px;
    color:#C46200;
}

#intro .section1 h4{
    font-size:28px;
    font-weight: 400;
    padding-bottom: 10px;

}

#intro .section1 p{
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#intro .section2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow:20px 20px 34px rgb(0,0,0,0.33) ;
}

#intro .section2 img{
    height: 100%;
}

#activities{
    display: flex;
    justify-content: space-between;
    margin: 0 190px;
    flex-wrap: wrap;
    margin-bottom: 90px;
    

}

#intro-activity{
    margin-top: 50px;
    margin-bottom: 18px;
}
#intro-activity h2{
    text-align: center;
    font-size: 50px;
    padding-bottom: 15px;

}

#intro-activity p{
    text-align: center;
    font-size: 24px;
    padding-bottom: 15px;
    

}

#activities .box{
    width: 13%;
    padding:0 14px;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color:#a7d49b; */
    box-shadow:20px 20px 34px rgb(0,0,0.2,0.33) ;
    border-radius: 4px;
    /* background-color: #d1e8f2; */
    text-align: center;
}

#activities .box img{
    height: 70px;
    width: 100px;
    padding-bottom: 8px;
}
#activities .box h3{
    font-size: 20px;
    color: #0d338a;
    
    
}

#activities .box button{
    margin-top: 12px;
    padding: 2px 7px;
    border-radius: 6px;
    border: none;
    /* outline: none; */
    font-size: 15px;
    font-weight: 500;
    background-color: #f0e459;
}

#activities .box button:hover{
    cursor:pointer;
    background-color: #50C878;

}

/* mid section */

#mid{
  
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    align-items: center;
    justify-content: center;
    background-color:#88FFC3	;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; ;
    margin:0 86px;
    
} 

#mid .section2{
    width:40%;
}
#mid .section2 p{
    font-size: 24px;
    padding-bottom: 30px;

}
#mid .section1 img{
    width: 40%;
    
}



/* activities */
#product1{
    text-align: center;
    margin: 85px 40px;
    
    
}

#product1 h2{
    font-size: 50px;
    
    padding-bottom: 15px;
}


#product1 p{
    font-size: 24px;
    padding-bottom: 15px;
}

.pro-container{
    display: flex;
    justify-content: space-evenly;
    padding-top:20px ;
    flex-wrap: wrap;
}
.pro{
    width:23%;
    min-width:250px;
    padding: 10px 12px;
    border:1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow:20px 20px 34px rgb(0,0,0,0.23) ;
    margin: 15px 0;
    position: relative;
  
}

.pro:hover{
    box-shadow:20px 20px 34px rgb(0,0,0,0.33) ;
}

.des{
    
    padding: 10px 0;;
}


.pro .des p{
    margin-top: 6px;
    font-size: 15px;
    text-align: start;
}

.pro .des h5{
padding-top: 7px;
color: #1a1a1a;
font-size: 20px;
text-align: start;
}


.pro .des h4{
    padding-top: 6px;
    font-size:20px;
    font-weight: 700;

    
}

.pro .des h4 a{
    text-decoration: none;
    color: #088178;
    margin-top: 12px;
    text-align: center;
}

.shirt{
    width: 100%;
    border-radius:20px;
    height: 250px;
    
}

.img3{
    height: 22px;
    width: 23px;
    position:absolute;
    bottom: 20px;
    right: 40px;
    
}




/* location */




  /* footer */

  footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 80px;
    background-color:#B2BEB5;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 25%;
    flex-wrap: wrap;
}

footer .logo{
    margin-bottom: 30px;
    height: 80px;
}

footer h4{
    font-size: 24px;
    padding-bottom: 20px;
}

footer p{
    font-size: 18px;
    margin:0 0 8px 0;
}

footer a{
    font-size: 18px;
    text-decoration: none;
    color: #222;
    margin-bottom:10px;
}

footer .follow{
    margin-top: 20px;
}

footer  .follow i{
    color:#465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .row img{
    border:1px solid #088178;
    border-radius: 6px;

}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .copyright{
    
    
    text-align: center;
    width: 100%;
}

/* media queires */

@media(max-width:1631px)
{
    #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #intro .section1 {
        min-width: 100%;
        padding-right: 40px;
      
    }
    #intro .section1 h2{
        text-align: center;
    }
    #intro .section1 h4{
        text-align: center;
    }

    #intro .section2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 500px;
        box-shadow: 20px 20px 34px rgb(0,0,0,0.33);
    }

}

@media(max-width:1400px)
{
    

    #intro .section1 {
        min-width: 50%;
        padding-right: 40px;
      
    }
    #intro .section1 h2{
        text-align: center;
        font-size: 30px;
    }
    #intro .section1 h4{
        text-align: center;
        font-size: 25px;
    }
    #intro .section1 p{
        text-align: center;
        font-size: 22px;
    }

    #intro .section2{
        height: 300px;

    }
    
    #intro .section2 img{
        height: 300px;
    }

}

@media(max-width:1177px)
{
    #navbar .sec1 img {
        height: 110px;
    }
    #intro {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    #intro .section1{
        min-width: 100%;
    }
    #intro .section1 h2{
        font-size: 32px;
        text-align:center;
    }
    
    #intro .section1 h4{
        font-size: 28px;
    }
    #intro .section1 p{
        font-size: 22px;
    } 

    #intro .section2 {
        height: 200px;
    }
    
    #intro .section2 img{
        height:200px;
    }
    #activities .box h3 {
        font-size: 14px;
        color: #0d338a;
    }

    #activities .box {
        width: 19%;
        
        height: 18vh;
        
    
    }

    #mid .section1{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #mid .section2{
        min-width: 80%;
    }

    #mid .section2 p{
        font-size: 22px;
    }
  
    

}


@media(max-width:1024px)
{
    #intro .section1 h2{
        font-size: 28px;
        text-align:center;
    }
    
    #intro .section1 h4{
        font-size: 24px;
    }
    #intro .section1 p{
        font-size: 18px;
    }
    #activities .box {
        width: 19%;
        height: 24vh;
        
    }
   
    #mid .section2 p{
        font-size: 18px;
    }

}


@media(max-width:900px)
{
    #navbar .sec1 img {
        height: 160px;
    }
    #intro .section1 h2 {
        font-size: 30px;
        font-weight: 700;
        padding-bottom: 10px;
        color: #C46200;
    }

    #intro .section1 p {
        font-size: 20px;
        
    }
    #intro .section1 {
        min-width: 100%;
        padding-right: 0px;
    }

    #intro .section2 {
        height: 300px;
        box-shadow: 20px 20px 34px rgb(0,0,0,0.33);
        
    }
    #intro .section2 img {
       
      height: 300px;

    }

    #activities .box h3 {
        font-size: 14px;
        color: #0d338a;
    }

    #activities .box {
        width: 18%;
        
        height: 12vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: #a7d49b; */
        box-shadow: 20px 20px 34px rgb(0,0,0.2,0.33);
        border-radius: 4px;
        /* background-color: #d1e8f2; */
        text-align: center;
    }

    #mid .section1{
        display: flex;
        justify-content: center;
    }
    #mid .section2 p {
        font-size: 20px;
        padding-bottom: 20px;
        
        
    }
}


/* about page */

#Entry{
    background-image: url(imgs/banner/banner1.png);
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 15px rgb(0,0,0.06);

}

#Entry h2{
    color: white;
    font-size: 82px;
    line-height: 70px;
}

#about-intro{
    height: 70vh;
    margin:20px 26px;
    display: flex;
    
    padding: 40px 140px;
    background-color: #FFDE59;
    box-shadow: 20px 20px 34px rgb(0,0,0,0.33);
}

#about-intro .section1{
    width: 40%;
}

#about-intro .section1 h4{
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 30px;

}
#about-intro .section1 p{
    color: rgb(54, 53, 53);
    font-size: 30px;
    padding-bottom: 30px;

}

#about-banner2{
    background-image: url(imgs/banner/banner2.png);
    height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: 0 2px 15px rgb(0,0,0.06);
    margin: 50px 0;
}
#about-banner2 h2{
    color: white;
    font-size: 82px;
    line-height: 70px;
   

}


#fun .box img{
    height: 120px;
}

#fun .box h4{
font-size: 25px;
font-weight: 500;
}

#fun .box{
  
width: 12%;
height: 22vh;
background-color: white;
margin: 30px 86px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 20px 20px 34px rgb(0,0,0,0.33);
}

#fun {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
}